<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="rectangle" class="com.hexaware.task1.entity.Rectangle">
        <property name="length" value="10.0" />
        <property name="width" value="5.0" />
    </bean>

    <bean id="square" class="com.hexaware.task1.entity.Square">
        <property name="side" value="7.0" />
    </bean>

</beans> 